body{
    background-image: url("image.map/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#sol{
    margin: 4% 40px;
    display: none;
}

#sol:target{
    display: block;
}

#marte{
    margin: 4% 40px;
    display: none;
}

#marte:target{
    display: block;
}

#terra{
    margin: 4% 40px;
    display: none;
}

#terra:target{
    display: block;
}

#jupiter{
    margin: 4% 40px;
    display: none;
}

#jupiter:target{
    display: block;
}

#saturno{
    margin: 4% 40px;
    display: none;
}

#saturno:target{
    display: block;
}

#foto{
    margin: 4% 40px;
    margin top: 40px;
}

span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}






