h3 {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: top;
    color: aliceblue;
    position: relative;
    margin: 0;
    top: -20px;
    text-align: left; /* Alinha o texto à esquerda */
    margin-left: 10px; /* Ajusta a margem esquerda conforme necessário */ 
}
h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding: 10px;
    color: aliceblue;
}

body {
    background-image: url('image.map/wp4575300-4k-galaxy-wallpapers.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}



